body{
}
.logo {
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
    display: block;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 10px;
label{
    font-weight: bold
}
.header-section h1 {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(22, 34, 57);
    margin-bottom: 0.5rem;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
}